/*Custom*/
@font-face {
    font-family: "Borsork";
    src: url(.../boorsok.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Color Palette */
:root {
    --crimson-red: #AC2B37;
    --gray: #a9b0b7;
    --black: #000000;
    --white: #FFFFFF;
}

/* Headings - Borsork Font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Borsork', sans-serif;
}

/* Paragraphs - Agdasima Font */
p {
    font-family: 'Agdasima', sans-serif;
}

/* Body Default */
body {
    background-color: var(--white)
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: var(--white);
}

.nav-links {
    display: flex;
    gap: 10px; 
}

.nav-links a {
    text-decoration: none;
    font-family: 'Borsork', sans-serif;
    font-weight: bold;
    color: var(--crimson-red);
    font-size: 1.5rem;
    
    padding: 10px 20px;
    border-radius: 4px;
    
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.nav-links a:hover {
    background-color: var(--crimson-red); 
    color: var(--white);
    font-weight: bold;
}

.review-main {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-family: 'Agdasima', sans-serif;
}

.review-card {
    background-color: var(--crimson-red);
    color: white;
    width: 90%;
    max-width: 900px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.review-card h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dorm-input {
    background: white;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Agdasima', sans-serif;
    width: 200px;
}

.stars {
    font-size: 1.8rem;
    margin-left: 10px;
}

.divider {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.5);
    margin: 20px 0;
}

.rating-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.review-text-area textarea {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    border: none;
    font-family: 'Agdasima', sans-serif;
}


