{% extends "layout.html" %}
{% block content %}
<section id = "housing-block">
    <h2 class = "dorm-name">{{ dorm_name }}</h2>
    <img src = "{%block img %}{%endblock%}">

    <div class = "average-rating">
        <h3>Avg. Rating:</h3>
        <div class = "stars">
            {% for _ in range(overall_rating["overallRating"]) %}
                <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                </svg>
            {% endfor %}
        </div>
    </div>

        <section class = "tags-section">
        <h3>Tags:</h3>
        <div class = "house-tags">
            {% for tag in tags %}
            <button class = "tag"><b>{{tag}}</b></button>
            {% endfor %}
        </div>
    </section>

    <section class = "ratings-reviews">
        <section class = "additional-ratings-section">
            <h3>Additional Ratings:</h3>
            <div class = "house-additonal-ratings">
                <div class = "house-ratings-category">
                    <h4>Room Size</h4>
                    <div class = "stars">
                        {% for _ in range(overall_rating["roomSize"]) %}
                            <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                            </svg>
                        {% endfor %}
                    </div>
                </div>
                <div class = "house-ratings-category">
                    <h4>Dining Proximity</h4>
                    <div class = "stars">
                        {% for _ in range(overall_rating["diningProximity"]) %}
                            <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                            </svg>
                        {% endfor %}
                    </div>
                </div>
                <div class = "house-ratings-category">
                    <h4>Academic Proximity</h4>
                    <div class = "stars">
                        {% for _ in range(overall_rating["academicProximity"]) %}
                            <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                            </svg>
                        {% endfor %}
                    </div>
                </div>
                <div class = "house-ratings-category">
                    <h4>Amenities</h4>
                    <div class = "stars">
                        {% for _ in range(overall_rating["amenities"]) %}
                            <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                            </svg>
                        {% endfor %}
                    </div>
                </div>
      
            </div>

        </section>
    
        <section class = "student-reviews-section">
            <h3>Student Reviews:</h3>
            <div class = "student-reviews-box">
            {% for review in reviews %}
                <div class = "review">
                    <div class = "review-top">
                        <div class = "user-info">
                            <img src = "../static/GompeiPFP.png" width = "50px">
                            <p><span class = "username">Gompei</span></p>
                        </div>
                    </div>
                    <div class = "review-textbox">
                        <p class = "review-text">{{ review["comment"] }}</p>
                    </div>
                    <div class = "review-ratings">
                        <div class = "review-ratings-category">
                            <h5>Room Size:</h5>
                            <div class = "stars">
                                {% for _ in range(review["roomSize"]) %}
                                    <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                                    </svg>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "review-ratings-category">
                            <h5>Dining Proximity:</h5>
                            <div class = "stars">
                                {% for _ in range(review["diningProximity"]) %}
                                    <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                                    </svg>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "review-ratings-category">
                            <h5>Academic Proximity:</h5>
                            <div class = "stars">
                                {% for _ in range(review["academicProximity"]) %}
                                    <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                                    </svg>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "review-ratings-category">
                            <h5>Amenities:</h5>
                            <div class = "stars">
                                {% for _ in range(review["amenities"]) %}
                                    <svg width="70" height="66" viewBox="0 0 70 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M34.5686 0L42.7291 24.8754H69.1371L47.7726 40.2492L55.9331 65.1246L34.5686 49.7508L13.204 65.1246L21.3645 40.2492L0 24.8754H26.408L34.5686 0Z" fill="white"/>
                                    </svg>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
    </section>

</section>
{% endblock %}
