{% extends "layout.html" %}

{% block title %}Add Review{% endblock %}

{% block content %}
    <section class="review-main">
        <div class="review-card">
            <h2>Add a Review!</h2>

            <form action="/submit-review" method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <label>Dorm:</label>
                        <select name="dorm" class="dorm-input">
                            {% for name in dorm_names %}
                                <option>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <hr class="divider">

                <div class="additional-ratings">
                    <p>Additional Ratings:</p>
                    <div class="rating-grid">
                        <div class="grid-item">
                            <label>Room Size:</label>
                            <div class="star-rating">
                                <input type="radio" id="room5" name="room_rating" value="5" /><label
                                    for="room5">★</label>
                                <input type="radio" id="room4" name="room_rating" value="4" /><label
                                    for="room4">★</label>
                                <input type="radio" id="room3" name="room_rating" value="3" /><label
                                    for="room3">★</label>
                                <input type="radio" id="room2" name="room_rating" value="2" /><label
                                    for="room2">★</label>
                                <input type="radio" id="room1" name="room_rating" value="1" /><label
                                    for="room1">★</label>
                            </div>
                        </div>

                        <div class="grid-item">
                            <label>Academic Proximity:</label>
                            <div class="star-rating">
                                <input type="radio" id="acad5" name="acad_rating" value="5" /><label
                                    for="acad5">★</label>
                                <input type="radio" id="acad4" name="acad_rating" value="4" /><label
                                    for="acad4">★</label>
                                <input type="radio" id="acad3" name="acad_rating" value="3" /><label
                                    for="acad3">★</label>
                                <input type="radio" id="acad2" name="acad_rating" value="2" /><label
                                    for="acad2">★</label>
                                <input type="radio" id="acad1" name="acad_rating" value="1" /><label
                                    for="acad1">★</label>
                            </div>
                        </div>

                        <div class="grid-item">
                            <label>Dining Proximity:</label>
                            <div class="star-rating">
                                <input type="radio" id="dine5" name="dine_rating" value="5" /><label
                                    for="dine5">★</label>
                                <input type="radio" id="dine4" name="dine_rating" value="4" /><label
                                    for="dine4">★</label>
                                <input type="radio" id="dine3" name="dine_rating" value="3" /><label
                                    for="dine3">★</label>
                                <input type="radio" id="dine2" name="dine_rating" value="2" /><label
                                    for="dine2">★</label>
                                <input type="radio" id="dine1" name="dine_rating" value="1" /><label
                                    for="dine1">★</label>
                            </div>
                        </div>

                        <div class="grid-item">
                            <label>Amenities:</label>
                            <div class="star-rating">
                                <input type="radio" id="amen5" name="amen_rating" value="5" /><label
                                    for="amen5">★</label>
                                <input type="radio" id="amen4" name="amen_rating" value="4" /><label
                                    for="amen4">★</label>
                                <input type="radio" id="amen3" name="amen_rating" value="3" /><label
                                    for="amen3">★</label>
                                <input type="radio" id="amen2" name="amen_rating" value="2" /><label
                                    for="amen2">★</label>
                                <input type="radio" id="amen1" name="amen_rating" value="1" /><label
                                    for="amen1">★</label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider">

                <div class="review-text-area">
                    <label>Review:</label>
                    <textarea name="comment" style="font-size: 18px;" placeholder="I have feeelings"></textarea>
                </div>
                <div class="submit-container">
                    <button type="submit" class="submit-review-btn">Submit Review</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}