{% extends "layout.html" %}
{% block title %}Search{% endblock %}

{% block script %}
<script src="../static/js/index.js" defer></script>
{% endblock %}

{% block content %}
<div class="dorms-header">
    <div class="logo no-select-text">
        <h1>Search for Housing</h1>
    </div>
    <div class="search-box">
        <input id="search-input" type="text" class="form-control" placeholder="Search by dorm name or tag">
        <button id="goBtn" class="search-btn" type="button">GO!</button>
    </div>
    <p id="input-error" class="error-message no-select-text"></p>
</div>

<ul>
  <li><a href="/dorm-review/Institute%20Hall">Institute Hall</a></li>
  <li><a href="/dorm-review/Faraday%20Hall">Faraday Hall</a></li>
  <li><a href="/dorm-review/Founders%20Hall">Founders Hall</a></li>
</ul>
{% endblock %}